[Desktop Entry]
Type=Application
Version=1.0
Name=GPSCorrelate
GenericName=Geotagging tool
GenericName[de]=Geotagging-Programm
GenericName[fr]=Logiciel de géolocalisation
Comment=Add coordinates to JPEG images using GPX files
Comment[de]=JPEG-Bildern Koordinaten mit GPX-Dateien beifügen
Comment[fr]=Attache des tags de position GPS EXIF aux images
Comment[ru]=Добавление геоданных в jpeg фотографии на основе GPX трека
TryExec=gpscorrelate-gui
Exec=gpscorrelate-gui
Terminal=false
Categories=Graphics;ImageProcessing;Geography;GTK;
Icon=gpscorrelate-gui
Keywords=gps;gpx;tracks;correlate;picture;photo;geolocation;
